<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArquivoDefinitivoScreens.Properties.Settings.DB_ESCOLAConnectionString"
            connectionString="Data Source=LUIS-NOTE\SQL2014;Initial Catalog=DB_ESCOLA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>